@import "fonts.scss";
@import "quasar.variables.scss";

:root {
    --primary: #FF99C8;
    --secondary: #D0F4DE;
    --tertiary: #A9DEF9;
    --accent: #E4C1F9;
    --light: #FCF6BD;
    --primary-dark: #1D000E;
    --dark-page: #3C3603;

    --positive: #21BA45;
    --negative: #C10015;
    --info: #31CCEC;
    --warning: #F2C037;

    // Dark mode variables
    --dark-primary: #1D000E;
    --dark-secondary: #3C3603;
    --dark-background: #121212;
    --dark-surface: #333;
    --dark-text: #FFFFFF;
}


body {
    font-family: 'Roboto', sans-serif;
    background-color: $light;
    color: #1D1D1D;
}

.body--light {
    background-color: $light;
    color: #1D1D1D;
}

.body--dark {
    background-color: $dark-page;
    color: $light;
}