@import "fonts.scss";
@import "quasar.variables.scss";

:root {
    --primary: #90e0ef;
    --secondary: #00b4d8;
    --tertiary: #0077b6;
    --accent: #ff99c8;
    --light: #fdfdfd;
    --primary-dark: #1D000E;
    --dark-page: #000144;

    --positive: #21BA45;
    --negative: #C10015;
    --info: #31CCEC;
    --warning: #F2C037;

    // Dark mode variables
    --dark-primary: #1D000E;
    --dark-secondary: #3C3603;
    --dark-background: #00001d;
    --dark-surface: #333;
    --dark-text: #FFFFFF;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: $light;
    color: #1D1D1D;
}

.body--light {
    background-color: $light;
    color: #1D1D1D;
}

.body--dark {
    background-color: $dark-page;
    color: $light;
}

.whity {
    background-color: #f3fafc;
}

.pinky {
    color: #f50057;
}

.darky {
    color: #333;
}

.max-w {
    max-width: 1000px;
    margin: 0 auto;
}

.w-100 {
    width: 100px;
}

.shrink-0 {
    flex-shrink: 0;
}