@import "fonts.scss";
@import "quasar.variables.scss";

:root {
    --primary: #90e0ef;
    --secondary: #00b4d8;
    --tertiary: #0077b6;
    --accent: #ec62c4;
    --light: #fdfdfd;
    --primary-dark: #1D000E;
    --dark-page: #000144;

    --positive: #21BA45;
    --negative: #C10015;
    --info: #31CCEC;
    --warning: #F2C037;

    // Dark mode variables
    --dark-primary: #1D000E;
    --dark-secondary: #3C3603;
    --dark-background: #00001d;
    --dark-surface: #333;
    --dark-text: #FFFFFF;
}

body {
    background-color: $light;
    color: #1D1D1D;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: O;
    margin: 0;
    line-height: normal;
}

.body--light {
    background-color: $light;
    color: #1D1D1D;
}

.body--dark {
    background-color: $dark-page;
    color: $light;
}

.whity--light {
    background-color: #f3fafc;
}

.whity--dark {
    background-color: #000f2b;
}

.pinky {
    color: #f50057;
}

.darky {
    color: #333;
}

.border-line {
    border-bottom: 1px solid #d8d8d8;
}

.max-w {
    max-width: 1000px;
    margin: 0 auto;
}

.max-h {
    max-height: 700px;
    overflow-y: auto;
}

.w-100 {
    width: 100px;
}

.w-150 {
    width: 150px;
}

.w-200 {
    width: 200px;
}

.w-250 {
    width: 250px;
}

.w-300 {
    width: 300px;
}

.w-500 {
    width: 500px;
}

.h-150 {
    height: 150px;
}

.h-200 {
    height: 200px;
}

.h-250 {
    height: 250px;
}

.rounded {
    border-radius: 50%;
}

.shrink-0 {
    flex-shrink: 0;
}